<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="peeradech.p.project_crud_firebase">

    <!--permissions for internet-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.peeradech.p.project_crud_firebase">
        <activity
            android:name=".EditMangaActivity"
            android:label="Edit Manga" />
        <activity
            android:name=".AddMangaActivity"
            android:label="Add Manga" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <!--login activity is set as launcher activity-->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>
